<div class="container">
  <div ng-repeat="artist in artists" class="row">
    <div class="col-sm-12 discover">
      <div class="row">
        <div class="col-xs-3 co">
          <a href="#/artist/{{artist.id}}">
            <p> {{artist.user.first_name}}</p>
            <p> {{artist.user.last_name}}</p>
            <p> {{artist.phone}}</p>
            <p> {{artist.social}}</p>
            <p> {{artist.genre}}</p>
            <span class='text-muted'><p class=''> {{artist.location}}</p></span>
        </div>
        <div class="col-xs-6 imgConstrain">
          <p class='titleTag'> {{artist.user.username}}</p>
          <img ng-src="{{artist.image}}" class='img-responsive img-rounded center-block'alt="profile photo" />
        </div>
        <div class="col-xs-3">
          <!-- <div ng-repeat="song in artist.songs" class="">
            <p >{{song.title}}</p>
            <p >{{song.genre}}</p>
            <p >{{song.length}}</p>

          </div> -->
          <p ng-if="artist.company !== '0'"><span class='text-muted'>{{artist.company}} </span></p>
          <p ng-if="artist.engineering"><span class='text-muted'> Engineer</span></p>
          <p ng-if="artist.artistDevelopment"><span class='text-muted'>Artist Development </span></p>
          <p class=''> {{artist.bio}}</p>
        </div>
      </div>

    </div>

  </div>
</a>
</div>
