<div class="container">
  <div class='row'>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-8">
        <div class="row">
          <article>
            <div class="col-sm-4">
              <section>
                  <div>Username</div>
                  <input type="text" ng-model="user.username" class='form-control'>
              </section>
              <section>
                  <div>Password</div>
                  <input type="password" ng-model="user.password" class='form-control'>
              </section>
              <section>
                  <div>email</div>
                  <input type="email" ng-model="user.email" class='form-control'>
              </section>
              <section>
                  <div>First name</div>
                  <input type="text" ng-model="user.first_name" class='form-control'>
              </section>
              <section>
                  <div>Last name</div>
                  <input type="text" ng-model="user.last_name" class='form-control'>
              </section>
              <section>
                  <div>Phone</div>
                  <input type="tel" ng-model="user.phone" class='form-control'>
              </section>
              <section>
                  <div>Social Network</div>
                  <input type="text" ng-model="user.social" class='form-control'>
              </section>
              <section>
                  <div>Genre</div>
                  <input type="text" ng-model="user.genre" class='form-control'>
              </section>
              <section>
                  <div>Company</div>
                  <input type="text" ng-model="user.company" class='form-control'>
              </section>
            </div>
            <div class="col-sm-8" class='form-control'>
              <section>
                  <div>Engineering
                      <input type="checkbox" ng-model="user.engineering" value="" class='form-control'>
                  </div>
                  <div>Artist Development
                      <input type="checkbox" ng-model="user.artistDevelopment" value="" class='form-control'>
                  </div>
                  <!-- <input type="text" ng-model="user.engineering" class='form-control'> -->
              </section>
              <section>
                  <div><div>Bio</div></div>
                  <textarea rows="10" cols="20" type="TextField" ng-model="user.bio" class='form-control'></textarea>
              </section>
              <section>
                  <div><div>Location</div></div>
                  <input type="text" ng-model="user.location" class='form-control'>
              </section>
              <section class='registerPhoto'>
                  <div>Profile photo</div>
                  <input type="file">
              </section>
              <section>
                  <button class='registerBtn' ng-click="register()" class='form-control'>Register</button>
              </section>
              </article>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
  </div>
</div>

<!--
<div class="form-group">
  <div for="exampleInputFile">File input</div>
  <input type="file" id="exampleInputFile">
  <p class="help-block">Example block-level help text here.</p>
</div>
<div class="checkbox">
  <div>
    <input type="checkbox"> Check me out
  </div>
</div> -->
