<article>
    <section>
        <div>Username</div>
        <input type="text" ng-model="user.username">
    </section>
    <section>
        <div>Password</div>
        <input type="password" ng-model="user.password">
    </section>
    <section>
        <div>email</div>
        <input type="email" ng-model="user.email">
    </section>
    <section>
        <div>First name</div>
        <input type="text" ng-model="user.first_name">
    </section>
    <section>
        <div>Last name</div>
        <input type="text" ng-model="user.last_name">
    </section>
    <section>
        <div>Phone</div>
        <input type="tel" ng-model="user.phone">
    </section>
    <section>
        <div>Social Network</div>
        <input type="text" ng-model="user.social">
    </section>
    <section>
        <div>Genre</div>
        <input type="text" ng-model="user.genre">
    </section>
    <section>
        <div>Company</div>
        <input type="text" ng-model="user.company">
    </section>
    <section>
      <div>Engineering
        <input type="checkbox" ng-model="user.engineering" value="">
        </div>
        <div>Artist Development
        <input type="checkbox" ng-model="user.artistDevelopment" value="">
        </div>
        <!-- <input type="text" ng-model="user.engineering"> -->
    </section>
    <section>
        <div>Bio</div>
        <textarea rows="10" cols="20" type="TextField" ng-model="user.bio"></textarea>
    </section>
    <section>
        <div>Location</div>
        <input type="text" ng-model="user.location">
    </section>
    <button ng-click="register()">Register</button>
</article>
