<!-- <div class="container">
  <div class='row'>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-8">
        <div class="row">
          <article>
            <div class="col-sm-4">
              <section>
                  <div>Username</div>
                  <input type="text" ng-model="user.username" class='form-control'>
              </section>
              <section>
                  <div>Password</div>
                  <input type="password" ng-model="user.password" class='form-control'>
              </section>
              <section>
                  <div>email</div>
                  <input type="email" ng-model="user.email" class='form-control'>
              </section>
              <section>
                  <div>First name</div>
                  <input type="text" ng-model="user.first_name" class='form-control'>
              </section>
              <section>
                  <div>Last name</div>
                  <input type="text" ng-model="user.last_name" class='form-control'>
              </section>
              <section>
                  <div>Phone</div>
                  <input type="tel" ng-model="user.phone" class='form-control'>
              </section>
              <section>
                  <div>Social Network</div>
                  <input type="text" ng-model="user.social" class='form-control'>
              </section>
              <section>
                  <div>Genre</div>
                  <input type="text" ng-model="user.genre" class='form-control'>
              </section>
              <section>
                  <div>Company</div>
                  <input type="text" ng-model="user.company" class='form-control'>
              </section>
            </div>
            <div class="col-sm-8" class='form-control'>
              <section>
                  <div>Engineering
                      <input type="checkbox" ng-model="user.engineering" value="" class='form-control'>
                  </div>
                  <div>Artist Development
                      <input type="checkbox" ng-model="user.artistDevelopment" value="" class='form-control'>
                  </div>
                  <!-- <input type="text" ng-model="user.engineering" class='form-control'> -->
              <!-- </section>
              <section>
                  <div><div>Bio</div></div>
                  <textarea rows="10" cols="20" type="TextField" ng-model="user.bio" class='form-control'></textarea>
              </section>
              <section>
                  <div><div>Location</div></div>
                  <input type="text" ng-model="user.location" class='form-control'>
              </section>
              <section class='registerPhoto'>
                  <div>Profile photo</div>
                  <input type="file">
              </section>
              <section>
                  <button class='registerBtn' ng-click="register()" class='form-control'>Register</button>
              </section>
              </article>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
  </div>
</div>  -->


<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/register.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Welcome to Talent</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Your User Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input ng-model='user.username' type="text" class="form-control" name="username" id="username"  placeholder="Enter your User Name"/>
								</div>
							</div>
						</div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input ng-model='user.password' type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                </div>
              </div>
            </div>

            <div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input ng-model='user.email' type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
								</div>
							</div>
						</div>

            <div class="form-group">
              <label for="firstName" class="cols-sm-2 control-label">First Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.first_name' type="text" class="form-control" name="firstName" id="firstName"  placeholder="Enter your First Name"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.last_name' type="text" class="form-control" name="lastName" id="lastName"  placeholder="Enter your Last Name"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="phone" class="cols-sm-2 control-label">Phone Number</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.phone' type="tel" class="form-control" name="phone" id="phone"  placeholder="Enter your Phone Number"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="social" class="cols-sm-2 control-label">Link to Social Network</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.social' type="text" class="form-control" name="social" id="social"  placeholder="Enter your Social Link"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="genre" class="cols-sm-2 control-label">Your Primary Genre</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.genre' type="text" class="form-control" name="genre" id="genre"  placeholder="Enter your favorite Genre"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="company" class="cols-sm-2 control-label">Your Band or Company</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.company' type="text" class="form-control" name="company" id="company"  placeholder="Enter your Band here"/>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="bio" class="cols-sm-2 control-label">Your Bio</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <textarea ng-model='user.bio' type="textField" class="form-control" name="bio" id="bio"  placeholder="Enter your Bio here"/></textarea>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="location" class="cols-sm-2 control-label">Your Location</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.location' type="text" class="form-control" name="location" id="location"  placeholder="Enter your Location here"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="engineering" class="cols-sm-2 control-label">Do you work in Engineering?</label>
              <div class="cols-sm-10">
                <div class="input-group ">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.engineering' type="checkbox" class="form-control" name="engineering" id="engineering"  placeholder="Check if your an Engineer"/>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <label for="development" class="cols-sm-2 control-label">Do you work in Artist Development?</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i></span>
                  <input ng-model='user.artistDevelopment' type="checkbox" class="form-control" name="development" id="development"  placeholder="Check if you work in Artist Development"/>
                </div>
              </div>
            </div>

            <div class="form-group"> <!--might need to add class of registerPhoto -->
              <label for="photo" class="cols-sm-2 control-label">Your Profile Photo</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-text-size" aria-hidden="true"></i></span>
                  <input type="file" class="form-control" name="photo" id="photo"  placeholder="Upload your Photo here"/>
                </div>
              </div>
            </div>

						<!-- <div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div> -->

						<div class="form-group ">
							<button ng-click='register()'type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
						</div>
						<!-- <div class="login-register">
				            <a href="index.php">Login</a>
				         </div> -->
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	</body>
</html>
