<div class="container">
  <div class='row'>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-8">
        <div class="row">
          <article>
            <div class="col-sm-12">
<article>
  <section>
    <div>Name of Event</div>
    <input type="text" ng-model="name">
  </section>
  <section>
    <div>Contact Email</div>
    <input type="email" ng-model="email">
  </section>
  <section>
    <div>Contact Phone</div>
    <input type="tel" ng-model="phone">
  </section>  <section>
      <div>Contact Social</div>
      <input type="text" ng-model="social">
    </section>  <section>
        <div>Genre</div>
        <input type="text" ng-model="genre">
      </section>  <section>
          <div>Location</div>
          <input type="text" ng-model="location">
        </section>  <section>
            <div>Start Date</div>
            <input type="date" ng-model="date">
          </section>
          <section>
              <button class='eventBtn' ng-click="event()" class='form-control'>Register</button>
          </section>
</article>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- <button ng-click="login()">Login</button> -->
